body{
 background: url(../img/bg.png);
 font: 12px "Lucida Grande", Sans-Serif;
}

.medieval { 
	font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif; 
}

.light-gray{
	color: #b7b7b7;
	font-weight: bold;
}

h1.medieval {
	text-align: center;
}

.button_attack_hidden{
	visibility: hidden;
}

.stat_inteligence{
	font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif; 
	color: #222fe0;
	font-weight: bold;
	font-size: 1.8em;
}

.stat_force{
	font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif; 
	color: #e02222;
	font-weight: bold;
	font-size: 1.8em;
}

.stat_agility{
	font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif; 
	color: #22e032;
	font-weight: bold;
	font-size: 1.8em;
}

.stat_desxtrexity{
	font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif; 
	color: #e0ca22;
	font-weight: bold;
	font-size: 1.8em;
}

.stat_speed{
	font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif; 
	color: #d46b29;
	font-weight: bold;
	font-size: 1.8em;
}

.stat_maxlife{
	font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif; 
	color: #22e0c7;
	font-weight: bold;
	font-size: 1.8em;
}

.character_background_sprite{
	display: inline-block;
	width: 48px;
	height: 48px;
}

.character_selection_sprite{
	display: inline-block;
	width: 32px;
	height: 32px;
}

.character_selection_sprite {
	margin-left: 13px;
	margin-bottom: 1em;
}

.stat_name{
	font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif; 
	color: #FFFFFF;
	font-weight: bold;
	font-size: 1.8em;
}

.current_life{
	font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif; 
	color: #FFFFFF;
	font-weight: bold;
	font-size: 1.8em;
}


.character_sprite {
	display: inline-block;
	z-index: 1;
	position: absolute;
	margin-top: 7px;
}

.control_tab{
	font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif; 
	color: #FFFFFF;
	font-weight: bold;
	font-size: 1.8em;
}

img{
	width: 100%;
	height: 100%;
}

#character_tiles {
	padding-bottom: 1em;
}

#character_description_container{
	width: 100%;
}